aside {
  width: 25%;
  background-color: #F7F9FB;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search {
  display: flex;
}

.search-input {
  height: 30px;
  border-radius: 8px;
  background-color: #EAF0F4;
  border: none;
  padding: 4px 16px;
  width: 100%;
}

.subheading {
  color: #95959F;
  text-transform: uppercase;
  font-size: 20px;
}